.btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    color: white;
    cursor: pointer;
    border: 1px solid black;
}

.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}

.btn:hover{
    border: 1px solid white;
}

.count{
    width: 100px;
    background-color: gray;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin:  auto;
    margin-bottom: 30px;
}